<div id="cloud" class="" data-bind="foreach: images">
  <img data-bind="attr: { src: $data.images.thumbnail.url }">
</div>

<div class="jumbotron">
  <h1>La comunidad en Instagram</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  
  <div class="progress progress-striped active mini">
    <div class="bar" style="width: 100%"></div>
  </div>

  <div class="btn-center hide">
    <a class="btn btn-block btn-large btn-success" href="/show">Mostrar más fotos</a>
  </div>
</div>