<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf8">
    <title>Imágenes de filosunam</title>
    <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4800272-4']);
      _gaq.push(['_setDomainName', 'filos.unam.mx']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="http://www.filos.unam.mx">Facultad de Filosofía y Letras</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      {{{ yield }}}
    </div>

    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="http://knockoutjs.com/downloads/knockout-2.2.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lightbox.js"></script>
    <script type="text/javascript">
      var socket = io.connect('{{url}}');
    </script>
    <script src="/js/application.min.js"></script>
  </body>
</html>