<div class="jumbotron">
  <h1>Imágenes de la comunidad filosunam</h1>
  <p class="lead">
  	Imágenes que capturan la vida de la comunidad de
    la <strong>Facultad de Filosofía y Letras</strong> 
    y reflejan su convivencia cotidiana.
  </p>
</div>

<div data-bind="foreach: images" class="clearfix">
  <p class="pull-left" style="margin-right: 38px">
    <a href="#" rel="lightbox" data-bind="attr: { href: $data.images.standard_resolution.url, title: $data.caption ? $data.caption.text : '' }">
      <img alt="Testing..." data-bind="attr: { src: $data.images.thumbnail.url }">
    </a>
  </p>
</div>

<!--
<div class="btn-center hide">
  <a href="#" class="btn btn-block btn-large btn-success" id="more" data-bind="attr: { 'data-max-id': next_max_id }, text: 'Cargar más'"></a>
</div>
-->

<div class="progress progress-striped active mini">
  <div class="bar" style="width: 100%"></div>
</div>
